@import "tailwindcss";

#gradient-canvas {
  width:100%;
  height:100%;
  --gradient-color-1: #0a91ff; 
  --gradient-color-2: #fdd7bb; 
  --gradient-color-3: #ede5ff;  
  --gradient-color-4: #fd6d98;
}